<?xml version="1.0"?>
<config>
  <global>
    <modules>
      <EkoInternetMarketing_AllReviews>
        <version>1.0.0</version>
      </EkoInternetMarketing_AllReviews>
    </modules>
   <blocks>
      <allreviews>
        <rewrite>
          <allreviews>EkoInternetMarketing_AllReviews_Block_AllReviews</allreviews>
        </rewrite>
      </allreviews>
    </blocks>
  </global>
  <frontend>
    <routers>
      <allreviews>
        <use>standard</use>
        <args>
          <module>EkoInternetMarketing_AllReviews</module>
          <frontName>allreviews</frontName>
        </args>
      </allreviews>
    </routers>
	<layout>
		<updates>
			<allreviews>
				<file>allreviews.xml</file>
			</allreviews>
		</updates>
	</layout>
  </frontend>
	<default>
		<ekoim>
			<allreviews>
                <number_of_reviews>10</number_of_reviews>
                <number_of_columns>2</number_of_columns>
                <enable_totals>1</enable_totals>
                <enable_rich_snippet>1</enable_rich_snippet>
                <enable_review_nickname>1</enable_review_nickname>
                <enable_review_date>1</enable_review_date>
                <enable_review_title>1</enable_review_title>
                <enable_product_image>1</enable_product_image>
                <enable_module_credit>1</enable_module_credit>
				<enable_review_stars>1</enable_review_stars>
			</allreviews>
		</ekoim>
	</default>
</config>
